<h3>Select table to edit:</h3>

<h3><%= link_to 'Products', admin_products_path, class: 'button' %></h3>
<h3><%= link_to 'Categories', admin_categories_path, class: 'button' %></h3>
<h3><%= link_to 'Users', admin_users_path, class: 'button' %></h3>
