<div>
  <h3>Products</h3>

  <div class="row">
    <div class="small-12 column">

      <table class="responsive" id="products-table">
        <%= render 'admin/products_table' %>
      </table>
    </div>
  </div>

</div>