<h3 class="m1">Выберите таблицу для редактирования:</h3>

<h3><%= link_to 'Продукты', admin_products_path, class: 'button' %></h3>
<h3><%= link_to 'Категории', admin_categories_path, class: 'button' %></h3>
<h3><%= link_to 'Пользователи', admin_users_path, class: 'button' %></h3>
