<div>
  <h3>Products</h3>

  <div class="row">

    <div class="small-12 columns" id="new-product">
      <%= link_to 'Create new product', new_product_path, remote: true %>
    </div>

    <div class="small-12 column">
      <br>
      <table class="responsive" id="products-table">
        <%= render 'products/admin/products_table' %>
      </table>
    </div>
  </div>

</div>