<div>
  <h3>Users</h3>

  <div class="row">

    <div class="small-12 column">
      <br>
      <table class="responsive" id="users-table">
        <%= render 'users/users_table' %>
      </table>
    </div>
  </div>

</div>