<br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h4>All Categories</h4>
      </div>
    </div>
    <br>

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @categories.each do |category| %>
          <li>
            <%= link_to category, :remote => true do %>
                <div class="panel callout radius">
                  <h6><%= category.name %></h6>
                  <% unless category.image.blank? %>
                      <%= image_tag category.image %>
                  <% end %>
                </div>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>

</div>