<li>
  <%= link_to product do %>
      <% unless product.image.blank? %>
          <div  class="p1 text-center">
            <%= image_tag product.image %>
          </div>
      <% end %>
      <div class="product-info ell panel-bg padmy padlx">
        <div class="title">
          <h6><%= product.name %></h6>
        </div>
        <p class="left price label product-label radius"><%= number_to_currency(product.price, locale: :ru) %></p>
      </div>
  <% end %>
</li>